
@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Nanum+Myeongjo:wght@700&display=swap');

:root {
    --font-1: 'Karla', sans-serif;
--font-2: 'Nanum Myeongjo', serif;
    --light-700: white;
    --dark-700:  rgb(17, 17, 17);
    --secondary: rgb(239, 239, 216);
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}


html {
    font-size: 100%;
    box-sizing: border-box;
}

*, *::after, *::before {
    box-sizing: inherit;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
  }
  



body {
    background: var(--light-700);
    font-family: var(--font-1);
    font-weight: 300;
    padding: 0;
    margin: 0;
    color: var(--dark-700);
    position: relative;
}

h1, h2 {
    font-family: var(--font-2);
    margin-top: 2rem;
}

h1 {
    font-size: 2.5rem;
}
h2 {
    font-size: 2rem
}




a {
    text-decoration: none;
    color: inherit;
}

button {
    font-family: inherit;
    padding: 0.75rem 1rem;
    border: none;
    background: var(--dark-700);
    color: var(--light-700);
}

button:hover {
    color: var(--secondary);
}

.hori {
    position: relative;
    flex-wrap: nowrap;
    width: 100%;
    height: 100%;
    display: flex;
    overflow-y: visible;
    overflow-x: scroll;
    padding: 1.5rem 0;
    /* align-items: center; */
    scroll-behavior: smooth;
    /* padding:1rem; */
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
    overflow: -moz-scrollbars-none; /* Old FireFox */
}

.hori::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}



.hori-controls {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 100%;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media screen and (max-width: 480px) {
 .hori-controls {
    display: none;
 }   
}

.hori-controls div {
    border-radius: 50%;
    background: var(--light-700);
    font-size: 2rem;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    color: var(--secondary);
    cursor: pointer;
    margin: 1rem;
    border: 2px solid var(--dark-700);
}

.hori-controls div:hover {
    color: var(--dark-700);
}

.hori-list {
    padding-left: 0;
    margin: 0;
    list-style: none;
}

header {
    padding: 1rem 1rem;
    background: var(--light-700);
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
}

header div {
    font-size: 2rem;
    text-transform: capitalize;
    font-weight: 800;
    position: relative;
    cursor: pointer;
}

.hide {
    display: none;
}


.menu {
    cursor: pointer;
}

nav {
    position: absolute;
    top: -400px;
    right: 0;
    width: 100%;
    background: var(--light-700);
    z-index: -1;
    margin-bottom: 1rem;
}

.show-nav {
    animation: slideIn .3s forwards;
}

@keyframes slideIn {
    0% {
        top: -400px;
    }
    100% {
        top: 64px;
    }
}

nav ul {
    padding-left: 0;
    padding: 0;
    margin: 0;
    list-style-type: none;

}

/* .close-nav {
    padding: 0.85rem;
    font-size: 1.5rem;
} */

.nav-item {
    width: 100%;
    text-align: center;
    padding: 0.85rem 1.5rem ;
    font-size: 1.25rem;
    margin-right: 1rem;
    text-transform: capitalize;
}

.nav-item:hover {
    font-weight: bold;
}

.landing {
    min-height: 100vh;
    padding-top: 64px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.landing article {
    padding: 1rem;
}

.landing article h1 {
    font-family: var(--font-2);
    font-weight: 700;
}

.landing article h4 {
    font-weight: 300;
}

.landing div {
    width: 100%;
    padding: 1rem;
    background: var(--dark-700);
}

.landing div img {
    width: 100%;
    object-fit: contain;
}

.about-me {
    padding: 1rem;
    padding-top: 64px;
}

.about-me p {
    text-align: left;
}


.about-me h3 {
    font-family: var(--font-2);
    text-transform: uppercase;
    margin-top: 2rem;
}

.priorities p {
    text-align: left;
}


.skills h3 {
    text-transform: uppercase;

}

.skills .content {
    display: flex;
    flex-wrap: wrap;
}

.skill {
    display: flex;
    flex: 50%;
    width: 50%;
    align-items: center;
    width: auto;
    margin-bottom: 1rem;
}

.skill:nth-child(even) {
    justify-content: flex-end;
}

.skill p {
    display: inline-block;
    
    margin-bottom: 0;
    margin: 0;
    padding: 1rem 0;
}

.skills img {
    width: 40px;
    height: 40px;
    object-fit: contain;
    margin-left: 0.25rem;
}

/* PROJECTS SECTION */

.projects {
    background: var(--secondary);
    padding: 1rem;
    padding-top: 64px;
    width: 100%;
    position: relative;
}
.projects-item {
    margin-right: 1rem;
    background: var(--light-700);
    position: relative;
    /* width: calc(80vw - 2rem); */
}

.projects-item img {
    width: calc(80vw - 2rem);
}

.projects-item h4, .projects-item p:not(.techstack) {
    margin-left: 1rem ;
}

.projects-item span {
    display: inline-block;
    padding: 0.25rem;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 2rem;
    color: var(--light-700);
}

.projects-item .techstack {
    text-align: right;
    font-size: 0.85rem;
    margin-right: 1rem;
}

.projects-item:hover {
    animation: scaleUp .3s ease-in-out forwards;
}
@keyframes scaleUp {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.015);
    }
}

.projects-item:hover img {
    filter: brightness(50%);
}

.projects-item:hover .techstack {
    animation: scaleUp2 1s ease-in-out infinite;
}

@keyframes scaleUp2 {
    0% {
        transform: translate(0, 0);
    }
    50% {
        transform: translate(5, -5);
    }
    100% {
        transform: translate(0, 0);
    }
}

.proj-link-github {
    /* border: 1px solid red; */
    font-size: 1.25rem;
    margin-right: 1rem;
    display: flex;
    justify-content: flex-end;
}

.proj-link-github a {
    /* color: black; */
    margin-left: 1rem;
    outline: 1px solid transparent;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 18px;
    line-height: 30px;
    justify-content: center;
}

.proj-link-github a:hover {
    outline-color: var(--dark-700);
}


/* SERVICES SECTION */
.services {
    padding: 1rem;
    padding-top: 64px;
}


.services article {  
}

.services article p {
    padding: 1rem;
    background: var(--secondary);
    margin: 0;
    margin-bottom: 0.5rem;
}


/* CONTACT */
#contact {
    background: var(--secondary);
    padding: 1rem;
    padding-top: 64px;
}

#contact form {
    display: flex;
    flex-direction: column;
}

#contact form label {
    display: none;
}

#contact input {
    padding: 0.75rem 1rem;
    border: none;
    outline: none;
    background: var(--light-700);
    margin-bottom: 1rem;
    width: 100%;
}

#contact textarea {
    width: 100%;
    border: none;
    height: 250px;
    overflow-y: auto;
    margin-bottom: 0.5rem;
}

#contact input:focus, #contact textarea:focus {
    outline: none;
    border: none;
}

#contact form button {
    align-self: flex-end;
}

.socials-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.socials-section div {
    font-size: 1.5rem;
    
}
.socials-section div i {
    margin: 1rem;
}   

/* FOOTER */
footer {
    background: var(--dark-700);
    color: var(--light-700);
    padding: 1rem;
}

footer section {
    margin-bottom: 1rem;
}

footer section h3 {
    font-size: 2rem;
}

.contact-me-footer {
    padding: 0.75rem 1rem;
    background: var(--secondary);
    color: var(--dark-700);
    display: inline-block;
    margin-bottom: 1rem;

}

.contact-me-footer:hover {
    background: var(--secondary);
}
.socials {
    /* border: 1px solid red; */
}
.socials:hover {
    color: var(--secondary);
}

.socials i {
    font-size: 1.5rem;
    margin-right: 1rem;
}

.copyright {
    text-align: center;
    font-size: 0.75rem;
    padding: 0.5rem 1rem;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
}

@media screen and (min-width: 760px) {

    h1 {
        font-size: 3.5rem;
    }
    
    h2 {
        font-size: 2.5rem
    }

    

    header {
        padding-left: 2rem;
        padding-right: 2rem;
    }
    
    .menu {
        display: none;
    }

    nav {
        position: relative;
        top: auto;
        left: auto;
        right: auto;
        height: 100%;
        margin: 0;
        width: auto;
    }
    nav ul {
        padding-left: 0;
        margin: 0;
        list-style-type: none;
        display: flex;
        
    }
    .nav-item {
        display: inline-block;
        font-size: 1.125rem;
        margin-right: 0;
        margin-left: 1.5rem;
        width: auto;
    padding: 0;
    border-bottom: 1px solid transparent;
    }

    .nav-item:hover {
        font-weight: 300;
        border-bottom: 1px solid var(--dark-700);
    }

    .landing {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        padding: 1rem;
        padding-top: 64px;
        min-height: 100vh;
        max-height: 100vh;
        overflow: hidden;
    }

    .landing article {
        width: calc(50% - 1rem);
        padding-left: 0;
        margin-bottom: 4rem;
    }

    .landing div {
        width: 30%;
        width: calc(30% - 1rem);
        background: var(--dark-700);
        height: auto;
        margin-bottom: 2rem;
        border-radius: 50%;
        overflow: hidden;
        position: relative;
        padding: 0;
        outline: 1px solid var(--dark-700);
        outline-offset: 5px;
    }

    .landing div img {
        transform: translateY(1rem);
    }

    .about-me {
        padding: 0;
    }
    .about-me h2 {
        text-align: center;
    }
    
    .about-me h3 {
        text-align: center;
    }

    .about-me p{
        text-align: center;
    }

    .bg-color {
        background: var(--secondary);
        padding: 2rem;
        padding-top: calc(2rem + 64px);
        min-height: calc(100vh - 50px);
    }
    .hobbies {
        padding: 1rem;
    }

    .priorities {
        background: var(--secondary);
        padding: 2rem 0;
        display: flex;
        justify-content: center;
    }

    .priorities p {
        text-align: center;
    }
    

    .priorities div:nth-child(1) {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 30%;
        border: 2px solid var(--dark-700);
        border-right: none;
    }

    .priorities div:nth-child(2) {
        /* display: flex;
        align-items: center;
        justify-content: center; */
        width: 30%;
        border: 2px solid var(--dark-700);
        border-left: none;
    }

    .skills {
        width: 80%;
        display: flex;
        flex-direction: column;
        margin: auto;
        min-height: 100vh;
        align-items: center;
        justify-content: center;
        padding-top: 2rem;
    }

    .skills h3 {
        font-size: 2rem;
        text-transform: capitalize;
        
    }
    .projects {
        min-height: calc(100vh);
        padding-top: 64px;
    }

    .projects h2 {
        text-align: center;
    }
    .projects-item {

        /* width: calc(30vw - 2rem); */
    }

    .projects-item img {
        width: calc(30vw - 2rem);
    }

    .services h2 {
        text-align: center;
    }

    .services article {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .services article p {
        width: calc(50% - 0.25rem);
    }

    #contact {
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 100vh;
        padding-top: 64px;
    }

    #contact h1 {
        width: 50%;
        text-align: center;
    }
    #contact form {
        width: 50%;
    }

    .socials-section {
        display: none;
    }
    footer section {
        display: flex;
        align-items: center;
        justify-content: space-around;
    }


}